# Core functionality - changes here should be rare!
/src/app.py                   @jamman123
/src/backend/database.py      @jamman123
/src/backend/routers/auth.py  @jamman123

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jamman123
